<?xml version="1.0" encoding="utf-8"?>
<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  IgnorableNamespaces="uap">
  <Identity Name="WKSUK.LastShot" Publisher="CN=WKSUK" Version="1.0.0.0" />
  <Properties>
    <DisplayName>WKSUK Compliance Dashboard</DisplayName>
    <PublisherDisplayName>WKSUK</PublisherDisplayName>
    <Logo>Images/StoreLogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.19041.0" MaxVersionTested="10.0.22621.0" />
  </Dependencies>
  <Resources>
    <Resource Language="en-us" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="$targetentrypoint$">
      <uap:VisualElements
        DisplayName="WKSUK Compliance Dashboard"
        Description="Track radio rentals, spectrum usage, and compliance logs."
        BackgroundColor="transparent"
        Square150x150Logo="Images/Square150x150Logo.png"
        Square44x44Logo="Images/Square44x44Logo.png">
        <uap:DefaultTile Wide310x150Logo="Images/Wide310x150Logo.png" Square310x310Logo="Images/Square310x310Logo.png" />
        <uap:SplashScreen Image="Images/Square150x150Logo.png" />
      </uap:VisualElements>
    </Application>
  </Applications>
</Package>
